apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: default
  name: homepage
  labels:
    app: homepage

spec:
  replicas: 1
  selector:
    matchLabels:
      app: homepage
  template:
    metadata:
      labels:
        app: homepage
    spec:
      containers:
        - name: homepage
          image: ghcr.io/calfur/homepage:d6b67887234ed172cebae6f661284ab5fb2ad7e9
          ports:
            - name: web
              containerPort: 3000 