apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: default
  name: jetski
  labels:
    app: jetski

spec:
  replicas: 1
  selector:
    matchLabels:
      app: jetski
  template:
    metadata:
      labels:
        app: jetski
    spec:
      containers:
        - name: jetski
          image: ghcr.io/calfur/jetski:e4dffee384e211715effcbc5a16007f6d3acbf08
          ports:
            - name: web
              containerPort: 3000
